recursive-include hostthedocs *.py
recursive-include hostthedocs/static *.*
recursive-include hostthedocs/templates *.html
prune hostthedocs/static/docfiles
include *.py
include LICENSE.txt
include README.rst
include requirements.txt
